.first{
  min-height: 400px;
  background: url('../ip2/assets/backgrounds/landing.jpg') no-repeat;
  color: #FFFFFF;
  text-align: center;
}
#main-menu {
width: cover;
}
.moringa{

 /* margin-top: -9px;*/
}
.happyhour{
  height: 105px;
 width: 350px;
  background-color: #e0e0d1;
  justify-content: center;
  display: flex;
  align-items: center;
}
.partytime{
  height: 105px;
  width: 350px;
  background-color: #ff3300;
  justify-content: center;
  display: flex;
  align-items: center;
}
.footer-positioning{
  margin-right: 30%;
}
.icon-pos {
  margin-left: 42%;
}
.Breakfast{
  height: 210px;
  /*width: 350px;*/
  justify-content: center;
  display: flex;
  color: #FFFFFF;
  align-items: center;
}
/*.Breakfast:hover{
bottom: 0;
right:0;
background:rgba(250,250,250,0.5);
opacity:0.5;
overflow: hidden;
transition: .5s ease;
}*/
#breakfast:hover{
bottom: 0;
right:0;
background:rgba(250,250,250,0.5);
opacity:0.5;
overflow: hidden;
transition: .5s ease;
}
#lunch:hover{
bottom: 0;
right:0;
background:rgba(250,250,250,0.5);
opacity:0.5;
overflow: hidden;
transition: .5s ease;
}
#dinner:hover{
bottom: 0;
right:0;
background:rgba(250,250,250,0.5);
opacity:0.5;
overflow: hidden;
transition: .5s ease;
}





.Breakfast p:hover{
  color: #000000;
}
.Lunch{
  height: 210px;
  /*width: 350px;*/
  justify-content: center;
  display: flex;
  color: #FFFFFF;
  align-items: center;
}
/*.Lunch:hover{
bottom: 0;
right:0;
background:rgba(250,250,250,0.5);
opacity:0.5;
overflow: hidden;
transition: .5s ease;
}*/
.Dinner{
  height: 210px;
  /*width: 350px;*/
  justify-content: center;
  display: flex;
  color: #FFFFFF;
  align-items: center;

}
/*.Dinner:hover{
bottom: 0;
right:0;
background:rgba(250,250,250,0.5);
opacity:0.5;
overflow: hidden;
transition: .5s ease;
}*/
#image{
   margin: 100px;
   border-radius: 4px;
   padding: 5px;
   padding-right: 0px;
   border: 1px solid #ddd;
   align-content: center;
   align-items: center;
   width: 410px;
 }
 #image1 {
   width: 400px;
}
#image2 {
 width: 400px;
}
#img3{
 height:300px;
}
#img4{
 height:300px;
}
#image5{
 margin: 100px;
 background-color: white;
 border-radius: 4px;
 padding: 5px;
 padding-right: 0px;
 border: 1px solid #ddd;
 align-content: center;
 align-items: center;
 width: 395px;
}
#button1 {
   color: #F15A29;
   border: 2px solid #F15A29;
   padding: 10px;
   border-radius: 4px;
   margin-top: 50px;
}
.text{
  padding: 50px;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#myNav1{
 float: left;
 margin: 20px;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#F15A29;
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #black;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
#back{
 background-image: url(../ip2/assets/backgrounds/foodsBg.jpg);
 display: flex;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
}
#panel{
 display: flex;
 border-radius: 4px;
 padding: 5px;
 border: 1px solid #ddd;
 margin-top:13%;
 margin-bottom: 13%;
 background-color: #ffffff;
 width: 70%;
     min-height: 250px;
}
#table1{
 width:100%;
 margin-left: 25px;
}
#table2{
 width:100%;
}
.img-padding1{
 padding: 40px;
 font-size: 30px;
 color: orange;
 font-weight: bold;
 border-color: black;
}
.img-padding{
 padding: 20px;
 padding-left: 50px;
 font-size: 25px;
 color: orange;
}
#customers{

 border-radius: 4px;
 padding: 5px;
 border: 5px solid #ddd;
 width: 80%;
 background-color: #ffffff;
 text-align: center;
 margin: 30px auto
}
#subscription{
 background-image: url(../ip2/assets/backgrounds/subscribe.jpg);
 height: 50vh;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 color: #ffffff;
 font-size: 35px;
 background-image: no-repeat;
}
#email{
 background: inherit;
 color: #ffffff;
 width: 70%;
}
#button{
 background-color: #e65c00;
 border:none;
 color: #ffffff;
}
#footer{
 background-color:  #e65c00;
 display: flex;
 justify-content: center;
 text-align: center;
}
#logo-white{
 float: left;
 padding: 20px;
 padding-bottom: 10px;
}
#logo-white-caption{
 color: #ffffff;
}
#caption{
 color: #ffffff;
 font-size:25px;
 padding-left: 30px;
}
.footer-logos{
 padding: 20px;
}
#copyright{
 color:#ffffff;
 font-size: 15px;
 padding-left: 45px;
}
div#betty{
  width: 80%;
background-color: #fff;
padding: 10px;
height: 350px;
}

ul#myTabs{
  width: 100%;
}
ul#myTabs>li{
      width: 25%;
}
span#span1{
  font-size: 25px;
    color: #e04608;
}

span#span2{
  font-size: 25px;
    color: #ef5c01;
    left: 290px;
    top: -190px;
}
p#shish{
  text-align: center;
    font-size: 20px;
    color: #ef5b05;
    margin: 15px;
}
ul#listtags{
  list-style: none;
}
ul#listtags>li{
  display: inline;
}
.glyphicon{
  color: #F15A29;
}
#happy{
    color: #F15A29;
}
#aboutmenu{
      color: #F15A29;
}
